.about{
  position: fixed; 
  top: 00.5; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
}


.container {
  position: relative;
  text-align: center;
  color: white;
}
.appname{
  position: absolute;
  height: 25px;
  left: 750px;
  font-size: 40px;
  color: black;
  font-family: cursive

}
.center {
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  left: 250px;
  font-size: 20px;
  
}
.centered {
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  left: 450px;
  font-size: 20px;
  
}
.column {
  background-color: rgb(100, 167, 230);
  

}
.nav{
background-color: rgb(100, 167, 230);
}

.package{
background-color: rgb(115, 151, 218);
}
.about-image {
  position: absolute;
  
}

.todo{
  size: cover;
 min-height: 1000px;
 opacity:0.9;

}

.btn{
  color: black;
  background-color:white;
}