.about{
  position: fixed; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
}


.container {
  position: relative;
  text-align: center;
  color: white;
}
.appname{
  position: absolute;
  height: 25px;
  left: 750px;
  font-size: 40px;
  color: black;
  font-family: cursive

}
.center {
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  left: 250px;
  font-size: 20px;
  
}
.centered {
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  left: 450px;
  font-size: 20px;
  
}
.column {
  background-color: rgb(100, 167, 230);
  float: left;
  width: 33.33%;
  padding: 20px;
  

}
.navbar{
font-size: 15px;
background-color: rgb(242, 243, 247);
padding-left: 100px;
padding-right: 100px;
}

.packages{
  background-color: rgb(100, 167, 230);

}
.about-image {
position: center;

}
.btn{
  color: black;
  background-color:white;
}


